{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'azure_content/main.css'%}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//kit.fontawesome.com/b68b3cc9f2.js?ver=5.2.4"></script>
    <script src="https://kit.fontawesome.com/f44bd2967c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title> AZURE DEPLOY APP</title>

</head>

<body>

  <nav class="navbar sticky-top"> 
     <span class="open-slide">
         <a class = "Logo" href="#"> 
            <div class = "Logo"> Our application! </div>
        </a>

        <a id="openlogo" href="#" onclick="openSlideMenu()"> 
          <i id="logozoom" class="fas fa-bars"></i>
        </a>

        
     </span>

      <ul class="navbar-nav">
        <li>
           <a href="#"> 
              <button  class="dropbtn"> <i class="fas fa-user-circle mr-1"></i> USER </button>
           </a>
        </li>
      </ul>
  </nav>

   {% url 'home' as home_url %}
   {% url 'about' as about_url %}
   
  <div id="side-menu" class="side-nav"> 

      <a class="menuitem {% if request.path == home_url %} active {%endif%}" href="{{home_url}}">
        <div class="navicon"><i class="fas fa-home mr-2"></i> </div> 
        <div> Home </div>
      </a>

      <a class="menuitem {% if request.path == about_url %} active {%endif%}" href="{{about_url}}"> 
        <div class="navicon"><i class="fas fa-user mr-2"></i> </div>
        <div> About </div>
      </a>

     
      

    
    <div id="moduleblok"class="moduleblok"> 
     
      <div class="module"> 
        
         <i class="fas fa-cog mr-2"></i> My app
      
       
     </div>
        <a class="sluiten"href="#" class="btn-close" onclick="closeSlideMenu()"> 
           X
        </a>
      </div>
     
    </div>
  
  </div>


  
  <div id="main">
  {% block content%}

  {% endblock content%}
  </div>  

  <script> 
    function openSlideMenu(){
      document.getElementById('side-menu').style.width
       = '200px';
      document.getElementById('openlogo').style.width
       = '0';
      document.getElementById('openlogo').style.color
       = '#3b5998';
      document.getElementById('moduleblok').style.width
       = '200px';
      document.getElementById('main').style.marginLeft
       = '200px';
    }

    function closeSlideMenu(){
      document.getElementById('side-menu').style.width
       = '0';
      document.getElementById('moduleblok').style.width
       = '0';
      document.getElementById('main').style.marginLeft
       = '0';
      document.getElementById('openlogo').style.width
       = '30px';
      document.getElementById('openlogo').style.color
       = '#f2f2f2';
    }


  </script>
</body>
</html>